{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Home Page</title>
  {% tailwind_css %}
</head>
<style>
    body {
        font-family: 'Radio Canada', sans-serif;
        color: #1e293b;
        overflow-x: hidden;
    }
    a, h1, h2, span{
        font-family: 'Viga', sans-serif;
    }
    .font-viga {
        font-family: 'Viga', sans-serif;
        font-weight: 600;
    }
    .font-radio {
        font-family: 'Radio Canada', sans-serif;
    }

  .contact-hero-bg {
    background-image: url("../../static/img/bg-hero.jpeg");
    height: 50vh;
  }

  .scrolled {
    background-color: #4d179a;
    /* Fond sombre pour la navbar */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: sticky;
  }

  .scrolled .text-white {
    color: #fff;
  }

  .scrolled a {
    color: #fff;
  }

  /* Masque la barre de défilement pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
  #activities-slider::-webkit-scrollbar {
    display: none;
  }

  /* Masque la barre de défilement pour Internet Explorer, Edge, et Firefox */
  #activities-slider,
  #blog-slider {
    -ms-overflow-style: none;
    /* IE et Edge */
    scrollbar-width: none;
    /* Firefox */
  }
</style>

<body id="top" class="text-gray-900 border-box">
  <header id="navbar"
    class="absolute top-0 left-0 right-0 z-20 transition-all duration-300 ease-in-out py-4 flex items-center px-6 lg:px-15 justify-between text-white w-full">
    <!-- <div
        class="container  py-4 flex items-center justify-between text-white w-full"
      > -->
    <div class="flex items-center">
      <img src="{%static 'img/logo-ambassadeurs.png'%}" alt="logo-ambassadeurs"
        class="max-w-1/6 sm:max-w-1/8 lg:max-w-1/10 xl:max-w-1/12 mr-2">
      <a href="/" class="md:text-2xl font-bold tracking-wide text-xl">GSBL Les Ambassadeurs</a>
    </div>

    <nav class="flex items-center xl:justify-between text-sm font-semibold xl:flex-3/4 xl:w-full">
      <ul class="hidden xl:flex items-center space-x-8 min-space">
        <a href="#" class="hover:text-orange-300 hover:underline transition-colors duration-300 text-lg">Admissions</a>
        <a href="{% url 'nursery:about' %}"
          class="py-2 hover:text-orange-300 hover:underline transition-colors duration-300 text-lg">A propos</a>

        <a href="{% url 'nursery:contact'%}"
          class="hover:text-orange-300 hover:underline transition-colors duration-300 text-lg">Contacts</a>
        <a href="#" class="hover:text-orange-300 hover:underline transition-colors duration-300 text-lg">Notre Blog</a>

      </ul>
      <button id="menu-button" class="flex items-center space-x-2 text-white hover:text-orange-400 focus:outline-none">
        <span class="hidden md:block text-lg">Menu</span>
        <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </nav>
    <!-- </div> -->
  </header>
  <div id="fullscreen-nav"
    class="fixed top-0 left-0 h-full w-full z-50 bg-white md:bg-gray-100 text-gray-900 overflow-y-auto hidden">
    <div class="container mx-auto px-4 md:px-8 py-8 md:py-16 h-full">
      <div class="flex justify-end">
        <button id="fullscreen-close-button"
          class="text-gray-900 hover:text-orange-500 transition-colors duration-300 focus:outline-none">
          <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <div class="h-full mt-4 md:mt-8 flex flex-col md:flex-row md:space-x-12">
        <div class="hidden md:block md:w-1/2 ">
          <div class="grid grid-cols-1 gap-4 lg:gap-6">
            <a href="#" class="group relative block overflow-hidden rounded-lg shadow-lg">
              <img src="{% static 'img/nursery-students.jpeg' %}" alt="Preschool"
                class="w-full h-48 object-cover transform transition-transform duration-1000 group-hover:scale-110" />
              <div class="absolute inset-0 bg-lime-600/10 bg-opacity-70 flex items-end p-4">
                <h3 class="text-white text-xl font-bold">Garderie</h3>
              </div>
            </a>
            <a href="{% url 'nursery:maternelle'%}" class="group relative block overflow-hidden rounded-lg shadow-lg">
              <img src="{% static 'img/students-cosplay.jpeg' %}" alt="Junior School"
                class="w-full h-48 object-cover transform transition-transform duration-1000 object-top group-hover:scale-110" />
              <div class="absolute inset-0 bg-violet-700/10 bg-opacity-70 flex items-end p-4">
                <h3 class="text-white text-xl font-bold">Maternelle</h3>
              </div>
            </a>
            <a href="#" class="group relative block overflow-hidden rounded-lg shadow-lg">
              <img src="{% static 'img/majorettes-2.jpeg' %}" alt="Senior School"
                class="w-full h-48 object-cover transform transition-transform duration-1000 group-hover:scale-110" />
              <div class="absolute inset-0 bg-orange-500/10 flex items-end p-4">
                <h3 class="text-white text-xl font-bold">Primaire</h3>
              </div>
            </a>
          </div>
        </div>

        <div class="md:w-1/3 pt-8 md:pt-0">
          <h4 class="text-2xl font-bold text-violet-800 mb-4 border-b md:pb-4 border-gray-300 pl-4">
            Navigation Rapide
          </h4>
          <ul class="flex flex-col space-y-2 pl-4">
            <li>
              <a href="{%url 'nursery:home'%}" class="block py-2 text-lg hover:text-orange-500">Accueil</a>
            </li>
            <li>
              <a href="#" class="block py-2 text-lg hover:text-orange-500">Admissions</a>
            </li>
            <li>
              <a href="{% url 'nursery:about' %}" class="block py-2 text-lg hover:text-orange-500">A propos</a>
            </li>
            <li>
              <a href="{% url 'nursery:contact'%}" class="block py-2 text-lg hover:text-orange-500">Contact</a>
            </li>
            <li>
              <a href="#" class="block py-2 text-lg hover:text-orange-500">Publications</a>
            </li>
          </ul>
          <ul class="flex flex-col space-y-2 border-t border-gray-300 pt-4 mt-4 pl-4">
            <li class="py-2 block text-lg text-violet-800 font-semibold">
              Nos écoles
            </li>
            <li>
              <a href="{%url 'daycare:home'%}" class="block py-2 text-lg hover:text-orange-500 font-medium">Garderie</a>
            </li>
            <li>
              <a href="{% url 'nursery:maternelle'%}" class="block py-2 text-lg hover:text-orange-500 font-medium">Maternelle</a>
            </li>
            <li>
              <a href="{%url 'primaire:home_en'%}" class="block py-2 text-lg hover:text-orange-500 font-medium">Primaire</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section id="hero"
    class="contact-hero-bg relative bg-violet-900  text-white flex justify-center items-center pt-30">
    <div class="absolute inset-0 bg-violet-950/60"></div>

    <div class="container mx-auto px-4 text-center z-10">
      <h1 class="text-2xl md:text-5xl font-extrabold mb-4">
        Nous Contacter
      </h1>
      <p class="text-lg mb-8 font-bold">
        Nous sommes là pour répondre à toutes vos questions.
      </p>
    </div>
  </section>

  <section class="py-16 bg-gray-100 ">
    <div class="container mx-auto px-4 md:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">

        <div class="bg-white  rounded-lg shadow-lg px-2 md:px-4 lg:p-8">
          <h3 class="text-2xl font-bold text-violet-700  mb-6 text-center">Envoyez-nous un message
          </h3>
          
          {% if messages %}
            <div class="mb-4 space-y-2">
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                  </div>
                {% else %}
                  <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          
          <form action="{% url 'nursery:contact' %}" method="POST" class="space-y-4 bg-violet-100 p-4 rounded-lg">
            {% csrf_token %}
            <div>
              <label for="name" class="block text-sm font-medium text-gray-900 ">Nom et Prénom</label>
              <input type="text" id="name" name="name" required
                class="mt-1 block w-full rounded-md p-2 bg-white shadow-md border-gray-300  focus:border-violet-500 focus:ring-violet-500 ">
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-900 ">Adresse
                Email</label>
              <input type="email" id="email" name="email" required
                class="mt-1 block w-full rounded-md p-2 border-gray-300 bg-white shadow-md focus:border-violet-500 focus:ring-violet-500">
            </div>
            <div>
              <label for="phone" class="block text-sm font-medium text-gray-900">Numéro de Téléphone
                (optionnel)</label>
              <input type="tel" id="phone" name="phone"
                class="mt-1 block w-full rounded-md p-2 border-gray-300 bg-white shadow-md focus:border-violet-500 focus:ring-violet-500 ">
            </div>
            <div>
              <label for="message" class="block text-sm font-medium text-gray-900 ">Message</label>
              <textarea id="message" name="message" rows="4" required
                class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-md focus:border-violet-500 focus:ring-violet-500"></textarea>
            </div>
            <div>
              <button type="submit"
                class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-violet-700 hover:bg-violet-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
                Envoyer le message
              </button>
            </div>
          </form>
        </div>

        <div class="bg-white  rounded-lg shadow-lg p-8">
          <h3 class="text-2xl font-bold text-violet-700 mb-6">Nos Coordonnées</h3>
          <ul class="space-y-6 text-gray-700">
            <li class="flex items-start">
              <svg class="h-6 w-6 text-orange-500 mr-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <div>
                <span class="font-semibold text-gray-800 ">Adresse :</span><br>
                Quartier Tigaza, derrière le GMI au lieu dit "Ambassade du Christ", Bertoua, Est, Cameroun
              </div>
            </li>
            <li class="flex items-start">
              <svg class="h-6 w-6 text-orange-500 mr-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.158l-2.022 1.011a8.17 8.17 0 001.523 1.523l1.011-2.022a1 1 0 011.158-.502l4.493 1.498a1 1 0 01.684.948V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>
              <div>
                <span class="font-semibold text-gray-800 ">Téléphone :</span><br>
                <a href="tel:+237699090190">+237 699 090 190</a><br>
                            <a href="tel:+237677198810">+237 677 198 810</a><br>
                            <a href="tel:+237695955402">+237 695 955 402</a><br>
                            <a href="tel:+237691377878">+237 691 377 878</a>
              </div>
            </li>
            <li class="flex items-start">
              <svg class="h-6 w-6 text-orange-500 mr-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              <div>
                <span class="font-semibold text-gray-800 ">Email :</span><br>
                  <a href="mailto:contact@ambassadeurs.edu">contact@ambassadeurs.edu</a>
              </div>
            </li>
            <li class="flex items-start">
              <svg class="h-6 w-6 text-orange-500 mr-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div>
                <span class="font-semibold text-gray-800 ">Heures d'ouverture :</span><br>
                Lundi - Vendredi : 07h30 - 16h00
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto px-4 md:px-8">
      <div class="bg-white  rounded-lg shadow-lg overflow-hidden my-8">

          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d248.572969374283!2d13.674718368053426!3d4.563888899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNMKwMzMnNTAuMCJOIDEzwrA0MCczMC4wIkU!5e0!3m2!1sen!2scm!4v1756317302430!5m2!1sen!2scm" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

{% include 'components/_unified_footer.html' with theme='nursery' %}

  <script src="{% static 'js/app.js' %}"></script>

</html>